[submodule "ufs-land-driver"]
	path = ufs-land-driver
        url = https://github.com/NOAA-EMC/ufs-land-driver.git
        branch = release/land-da-public-v1.0.0
[submodule "DA_update"]
	path = DA_update
	url = https://github.com/jkbk2004/land-DA.git
        branch = feature/sync
[submodule "vector2tile"]
	path = vector2tile
	url = https://github.com/NOAA-PSL/land-vector2tile.git
        branch = release/EPIC1.0
