exec/
lib/
lib64
sorc/build/
sorc/ufs-weather-model/
sorc/DA_update/
sorc/vector2tile/
sorc/ufs-land-driver-emc-dev/

__pycache__
*.swp

cycle.log
err_noahmp.*
log_noahmp.*
*.namelist
exp_out/*
analdates.sh
