exec/
lib/
lib64
sorc/build/
sorc/conda/
sorc/lib/
sorc/lib64
parm/conda_loc
parm/*.xml
parm/*.db
parm/*.out
parm/*.err
parm/*.log
parm/parm_xml.yaml
parm/land_analysis.yaml
parm/log.*

__pycache__
*.swp

