[submodule "sorc/ufs_model.fd"]
	path = sorc/ufs_model.fd
	url = https://github.com/ufs-community/ufs-weather-model.git
	ignore = dirty
[submodule "sorc/apply_incr.fd"]
	path = sorc/apply_incr.fd
	url = https://github.com/NOAA-PSL/land-apply_jedi_incr.git
        ignore = dirty

