# JCB general
algorithm: 3dvar.skylab
algorithm_path: "{{ PARMlandda }}/jedi/jcb-algorithms"
app_path_algorithm: "{{ PARMlandda }}/jedi/jcb-gdas/algorithm/snow"
app_path_model: "{{ PARMlandda }}/jedi/jcb-gdas/model/snow"
app_path_observations: "{{ PARMlandda }}/jedi/jcb-gdas/observations/snow"
app_path_observation_chronicle: "{{ PARMlandda }}/jedi/jcb-gdas/observation_chronicle/snow"

# Time window
window_begin: "{{ snow_window_begin }}"
window_length: "{{ snow_window_length }}"

# Geometry
geometry_background_file: snow_geometry_background
snow_fv3jedi_files_path: "{{ snow_fv3jedi_files_path }}"
snow_layout_x: {{ snow_layout_x }}
snow_layout_y: {{ snow_layout_y }}
snow_npx_anl: {{ snow_npx_anl }}
snow_npy_anl: {{ snow_npy_anl }}
snow_npz_anl: {{ snow_npz_anl }}
snow_npx_ges: {{ snow_npx_ges }}
snow_npy_ges: {{ snow_npy_ges }}
snow_npz_ges: {{ snow_npz_ges }}
snow_orog_files_path: "{{ FIXlandda }}/FV3_fix_tiled/C{{ RES }}"
snow_orog_prefix: "C{{ RES }}"

# Final/minimization
analysis_variables: [totalSnowDepth]
final_diagnostics_departures: oman
final_increment_file: snow_final_increment_fms
snow_final_inc_file_path: {{ snow_final_inc_file_path }}
minimizer: DRPCG
number_of_outer_loops: 1

# Background
background_file: snow_background
snow_background_path: "{{ snow_bkg_path }}"
snow_background_time_fv3: "{{ snow_bkg_time_fv3 }}"
snow_background_time_iso: "{{ snow_bkg_time_iso }}"
snow_increment_time_fv3: "{{ snow_bkg_time_fv3 }}"
snow_increment_time_iso: "{{ snow_bkg_time_iso }}"

# Background error
background_error_file: snow_background_error
snow_bump_data_directory: "{{ snow_bump_data_dir }}"

# Output
output_file: snow_output

# Observation
observations:
{%- if OBS_TYPE == "GHCN" %}
- ghcn_snow
{%- elif OBS_TYPE == "IMS" %}
- ims_snow
#- adpsfc_snow
#- sfcsno
#- snocvr_snow
{%- endif %}

# GHCN
snow_obsdatain_path: "{{ snow_obsdatain_path }}"
snow_obsdatain_prefix: "{{ snow_obsdatain_prefix }}"
snow_obsdataout_path: "{{ snow_obsdataout_path }}"
snow_obsdataout_prefix: "{{ snow_obsdataout_prefix }}"
snow_obsdataout_suffix: "{{ snow_obsdataout_suffix }}"

